<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calvin Trees v0.1.4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <mgl-map #map [style]="'https://api.maptiler.com/maps/hybrid/style.json?key=ted09kFoNPzbRYuDTi5B'" [zoom]="[14]"
    [center]="center" [bearing]="heading" [pitch]="[15]">

    <mgl-control mglGeolocate [positionOptions]="{enableHighAccuracy: true}" [trackUserLocation]="true"
      position="top-left">
    </mgl-control>
    <mgl-control mglNavigation [showCompass]="true" position="bottom-left">
    </mgl-control>
    <mgl-control position="bottom-right">
      Nearby Trees: {{ nearbyTrees.length }}
    </mgl-control>

    <mgl-marker [lngLat]="center">
      <ion-img src="assets/icons/arrow.png" anchor="top-left"></ion-img>
    </mgl-marker>

  </mgl-map>
</ion-content>