<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Options</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-button>Wander Mode</ion-button>
      </ion-item>
      <ion-item>
        <ion-button>Tour 1</ion-button>
      </ion-item>
      <ion-item>
        <ion-button>Tour 2</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Calvin Trees v0.2.0
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <!-- replace "streets" with "hybrid" to get a satellite view -->
    <mgl-map #map [style]="'https://api.maptiler.com/maps/streets/style.json?key=ted09kFoNPzbRYuDTi5B'" [zoom]="[18]"
      [center]="center" [bearing]="heading" [pitch]="[15]">

      <mgl-control mglGeolocate [positionOptions]="{enableHighAccuracy: true}" [trackUserLocation]="true"
        position="top-left">
      </mgl-control>
      <mgl-control mglNavigation [showCompass]="true" position="bottom-left">
      </mgl-control>
      <!-- <mgl-control position="bottom-right">
      Nearby Trees: {{ nearbyTrees.length }}
    </mgl-control> -->

      <mgl-marker [lngLat]="center">
        <ion-img src="assets/icons/arrow.png" anchor="top-left"></ion-img>
      </mgl-marker>

      <mgl-popup *ngFor="let tree of nearbyTrees" [lngLat]="[tree.lng, tree.lat]">
        <ion-card>
          <ion-thumbnail *ngIf="tree.attachmentURL">
            <img [src]="tree.attachmentURL" />
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-subtitle>{{tree.scientificName}}</ion-card-subtitle>
            <ion-card-title>{{tree.commonName}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{tree.commemoration}}</ion-card-content>
        </ion-card>
      </mgl-popup>

    </mgl-map>
  </ion-content>

</div>