<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Options</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-radio-group [value]="mode" (ionChange)="modeChanged($event)">
        <ion-item>
          <ion-radio value="wander">Wander Mode</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="tour1">Bob Speelman's Favs</ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-item></ion-item>
      <ion-item>
        <ion-checkbox (ionChange)="showAllTreesSelected()">Show all tree markers</ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Calvin Trees v0.2.4 {{mode}}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="searchClicked()">
          <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="searching">
      <ion-searchbar placeholder="Search for a tree" (ionInput)="doSearch($event)" (ionClear)="onSearchCancel()"
        [debounce]="300"></ion-searchbar>
    </ion-toolbar>
    <ion-list class="tree-search-list">
      <ion-item>
        <ion-checkbox [checked]="selectAllSelected" *ngIf="searchResult.length > 0" (ionChange)="selectAllCheckboxChanged()">
          <b>Select all</b>
        </ion-checkbox>
      </ion-item>
      <ion-item *ngFor="let res of searchResultStr; let i = index">
        <ion-checkbox [checked]="selectedSearchResults[i]" (ionChange)="searchSelectionChanged(i)">
          {{res}}
        </ion-checkbox>
      </ion-item>
      <ion-item *ngIf="searchResult.length > 0">
      <ion-button [disabled]="areNoSearchResultsSelected()">
        Show markers for selected items
      </ion-button>
      </ion-item>
    </ion-list>
  </ion-header>

  <ion-content [fullscreen]="true">
    <!-- replace "streets" with "hybrid" to get a satellite view -->
    <mgl-map #map [style]="'https://api.maptiler.com/maps/streets/style.json?key=ted09kFoNPzbRYuDTi5B'" [zoom]="[18]"
      [center]="center" [bearing]="heading" [pitch]="[15]">

      <!-- central arrow: never moves -->
      <mgl-marker [lngLat]="center">
        <ion-img src="assets/icons/arrow.png" anchor="top-left"></ion-img>
      </mgl-marker>

      <!-- <mgl-control mglGeolocate [positionOptions]="{enableHighAccuracy: true}" [trackUserLocation]="true"
        position="top-left">
      </mgl-control> -->

      <!-- <mgl-control mglNavigation [showCompass]="true" position="bottom-left">
      </mgl-control> -->

      <mgl-control position="bottom-right">
        Status: {{ statusMsg }}
      </mgl-control>

      <!-- markers for nearbyTrees -->
      <mgl-geojson-source id="nearby-trees-source">
        <mgl-feature *ngFor="let marker of nearbyTrees" [geometry]="{
                            type: 'Point',
                            coordinates: [marker.lng, marker.lat]
                          }">
        </mgl-feature>
      </mgl-geojson-source>
      <mgl-layer id="tree-markers-layer" type="circle" source="nearby-trees-source" [paint]="{
                          'circle-color': 'green',
                          'circle-radius': 7,
                        }">
      </mgl-layer>
      <!-- show round maroon markers for all known trees -->
      <div *ngIf="showAllTreesChecked">
        <mgl-geojson-source id="all-trees-source">
          <mgl-feature *ngFor="let marker of treesDb" [geometry]="{
                      type: 'Point',
                      coordinates: [marker.lng, marker.lat]
                    }">
          </mgl-feature>
        </mgl-geojson-source>
        <mgl-layer id="all-trees-layer" type="circle" source="all-trees-source" [paint]="{
                    'circle-color': 'maroon',
                    'circle-radius': 5,
                  }">
        </mgl-layer>
      </div>

      <!-- [closeOnClick]="false" -->
      <!-- [closeButton]="false" -->
      <mgl-popup *ngFor="let tree of nearbyTrees" [lngLat]="[tree.lng, tree.lat]" (popupOpen)="handlePopupOpen(tree)">
        <ion-card (click)="handleClick(tree)">
          <ion-thumbnail *ngIf="tree.attachmentURL && !tree.localImgFile">
            <img [src]="tree.attachmentURL" />
          </ion-thumbnail>
          <ion-thumbnail>
            <img [src]="tree.localImgFile" />
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-subtitle>{{tree.scientificName}}</ion-card-subtitle>
            <ion-card-title>{{tree.commonName}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{tree.commemoration}}</ion-card-content>
        </ion-card>
      </mgl-popup>

      <div *ngIf="mode === 'tour1'">

        <!-- show round green markers for trees on the tour -->
        <mgl-geojson-source id="tour1-trees-source">
          <mgl-feature *ngFor="let marker of tour1Trees" [geometry]="{
              type: 'Point',
              coordinates: [marker.lng, marker.lat]
            }">
          </mgl-feature>
        </mgl-geojson-source>
        <mgl-layer id="tour1-trees-layer" type="circle" source="tour1-trees-source" [paint]="{
            'circle-color': 'green',
            'circle-radius': 7,
          }">
        </mgl-layer>

        <!-- show route between trees on the tour -->
        <mgl-geojson-source id="tour1-path-source">
          <mgl-feature [geometry]="tour1Json"></mgl-feature>
        </mgl-geojson-source>
        <mgl-layer id="tour1-path-layer" type="line" source="tour1-path-source" [layout]="{
            'line-join': 'round',
            'line-cap': 'round'
          }" [paint]="{
            'line-color': 'green',
            'line-width': 3,
          }">
        </mgl-layer>
      </div>

    </mgl-map>

    <ion-modal [isOpen]="isTreePictureModalOpen" (click)="isTreePictureModalOpen = false">
      <ng-template>
        <ion-content>
          <img [src]="currentTree!.localImgFile" />
          <ion-item lines="none">
            <div class="center-text">
              {{currentTree?.commonName}}
            </div>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>

</div>