
mgl-map {
  width: 100%;
  height: 100%;
}

// mgl-popup {
//   text-align: center;
// }

// ng-deep is deprecated but I don't know of an alternative.
::ng-deep .maplibregl-popup-content {
  color: green;
  border-radius: 5px;
  padding: 0px 5px;
}

// .card-content-md {
//   padding-top: 100px;
// }